<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h1>Yo soy la yout</h1>

<div data-portal-region="ledroit">
    <div data-th-each="component : ${ledroit.components}" data-th-remove="tag">
        <div data-portal-component="${component.path}" data-th-remove="tag" />
    </div>
</div>

<div data-portal-region="lagauche">
    <div data-th-each="component : ${lagauche.components}" data-th-remove="tag">
        <div data-portal-component="${component.path}" data-th-remove="tag" />
    </div>
</div>
</body>
</html>
